@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-list {
  &__title {
    margin: 1rem 1.3rem;
    font-weight: 600;
    color: $silver;
    @include desktop {
      flex: 30%;
      padding-top: 2.25rem;
      padding-left: 2.25rem;
    }
  }
}

.next-video {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 0 1.6rem 1rem;
  width: 90%;
  &__thumbnail {
    background-color: $mercury;
    width: 6rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.25rem;
    margin: 0;
    @include tablet {
      width: 9rem;
      height: 5rem;
    }
    @include desktop {
      width: 8rem;

      margin-bottom: auto;
    }
  }
  &__details {
    width: 50%;
    align-items: flex-end;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
  }
}
