@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-list {
  &__title {
    margin: 1rem 1.3rem;
    font-weight: 700;
    color: $silver;
  }
}

.next-video {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 1rem;
  width: 90%;
  &__thumbnail {
    background-color: $mercury;
    width: 9rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 0.25rem;
    margin: 0;
    @include tablet {
      width: 10rem;
    }
    @include desktop {
      width: 10rem;
    }
  }
  &__details {
    width: 50%;
    align-items: flex-end;
    margin-left: 1rem;
    &__title {
      font-weight: 400;
      font-size: 13px;
    }
    &__channel {
    }
  }
}
