//primary colors
$black: #323232;
$blue: #0096ff;
$silver: #afafaf;
$white: #ffff;

// secondary colors
$darkBlack: #0000;
$darkBlue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

//Breakpoints
$mobile-breakpoint: 20rem;
// $pre-tablet: 40rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
