@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1.5rem;
    height: 7rem;
  }
  @include desktop {
    padding: 0 8rem;
  }
  &__logo {
    width: 10rem;
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1rem 0 0 0;
    &__logo {
      @include tablet {
        width: 6rem;
        height: 2rem;
      }
    }
    &__search-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    @include tablet {
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
    }
  }

  .header__logo {
    width: 10rem;
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1rem 0 0 0;
  }

  .header__search-bar {
    background-color: $alabaster;
    display: flex;
    width: 16.7rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid silver;

    @include tablet {
      flex-direction: row;
      align-items: center;
    }
    &__input {
      font-size: 0.875rem;
      background: none;
      color: #5a6674;
      width: 12.1875rem;
      height: 1.25rem;
      border: none;
      appearance: none;
      outline: none;
    }
  }
  .header__avatar {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 2.5em;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    @include tablet {
      order: 1;
    }
  }

  .header__upload-button {
    border: none;
    background: none;
    background-color: $blue;
    color: $white;
    width: 20rem;
    height: 2.6rem;
    position: relative;
    border-radius: 0.3233rem;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
      margin: 0;
      height: 3.3rem;
      width: 13rem;
    }
  }
}
