@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;

* {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}
h1,
h2,
h3,
p,
form {
  margin: 0;
}
body {
  margin: 0;
  font-family: "Avenir";

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
