@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-details {
  padding: 0 1rem 0 0.5rem;

  @include tablet {
    margin: 1rem 1rem 0 3rem;
    padding: 0;
  }

  &__title {
    margin: 0.5rem;
    padding: 0 0 1rem 0;

    font-weight: 600;
    border-bottom: 2px solid $mercury;
    @include tablet {
      border-bottom: none;
      margin: 1rem 1rem 0 0.5rem;
      padding: 0;
      font-size: 2rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    border-bottom: 2px solid $mercury;
    padding: 0 0 1rem 0;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 0 0.5rem 0;
    }
  }

  &__right {
    margin: 0 0 0 4rem;
  }
  &__left {
    margin: 0;
    @include tablet {
    }
  }
  &__like-icon {
    content: url("../../assets/Icons/likes.svg");
    padding: 0 0.8rem 0 0;
  }
  &__view-icon {
    content: url("../../assets/Icons/views.svg");
    padding: 0 0.5rem 0 0;
  }
  &__description {
    margin: 1rem 0 1rem 0.5rem;
    padding: 0 0 1rem 0;
    font-size: 13px;
    line-height: 1.5rem;
  }
}

.left {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 14rem;
  }
  &__info {
    margin: 0.5em 0 0 0;
    color: $silver;

    &--bold {
      font-weight: 700;
      color: black;
      font-size: 1rem;
    }
  }
}
.right {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15rem;
  }
  &__info {
    margin: 0.5rem 0 0 0;
    color: $silver;
  }
}
